* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.primary {
    width: 80%;
    margin:auto;
}

/* Header Style  */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
}

/* navigation Bar Style */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-bar a {
    text-decoration: none;
}

.logo-name a {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.menu-items {
    display: flex;
    gap: 50px;
}

.menu-items li {
    list-style: none;
}
.menu-items li a {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* Banner Style */
.banner {
    margin-top: 100px;
    width: 80%;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-document {
    color: #727272;
}

.for-margin {
    margin-top: 30px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: none;
    margin-top: 30px;
}

.banner-img {
    margin-top: 50px;
}

.banner-img img {
    width: 100%;
    padding-bottom: 20px;
}

/* Quick list Style */
.quick-list {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 80px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.gray {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.sub-title {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.description {
    color: #727272;
    margin-top: 15px;
}

/* Features Section Style */
.features-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.title-blog {
    margin-bottom: 40px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.article {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

.right-photo {
    margin-bottom: -117px;
}

.right-photo img {
    width: 33vw;
    margin-left: 150px;
}

.btn {
    background: #FF900E;
    border-radius: 8px;
    padding: 35px;
    margin-left: 70px;
    border: none;
}

.btn-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.btn-sub-title {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* Some Facts Style */
.some-facts{
    margin-top: 100px;
}
.facts {
    display: flex;
    justify-content: space-around;
}

.fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 220px;
    height: 220px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: 1.5s;
}
.fact:hover{
    transform:rotate(360deg);
    background-color: rgb(175, 175, 94);
}
.fact img {
    margin-top: 45px;
}

.fact-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 10px 0px;
}

.fact-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/*  Our Sponsor Style */
.sponspors-descritpion{
    text-align: center;
    margin-top: 100px;
}
.sponsor-logos{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

footer{
   margin: 90px 0px;
}
.footer-deatils{
    background-color:  #FFF4E7;
    width: 80%;
    margin: 0 auto;
}
.footer-deccription{
    text-align: center;
    padding: 20px 0px;
}


/* Responsive Style for mobile */

@media only screen and (max-width: 576px) {
    .primary {
        width: 90%;

    }

    .nav-bar,
    .menu-items,
    .quick-list,
    .features-section,
    .facts,
    .sponsor-logos {
        flex-direction: column;
    }
    .menu-items {
        margin-top: 20px;
    }

    .logo-name a{
        font-size: 40px;
    }
    .banner-title{
        text-align: center;
    }

    .photos {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-photo img {
        width: 75vw;
        margin-top: 30px;
        margin-left: 0px;
    }

    .btn {
        background: #FF900E;
        border-radius: 8px;
        padding: 10px;
        margin-left: 0px;
    }
    .btn-title{
        font-size: 50px;
    }

    .right-photo {
        margin-bottom: -80px;
    }
    
    .fact{
        margin-left: 50px;
    }
    .p-logo{
        margin-top: 50px;
    }
    .hide{
        display: none;
    }
}